<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta meta="viewport" content="width=devide-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saguil AI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <header class="site-header inicio" >
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="../static/icon/logo.png" alt="Logotipo de Saguil">
                </a>
                
                <nav class="navegacion">
                    <a href="nosotros.html">Nosotros</a> <!-- taget="_blank" -->
                    <a href="algoritmos.html">Algoritmos</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>

            <h1>Esta app está creada para utilizar y probar algunos algoritmos de Machine Learning (Aprendizaje Automático)</h1>
        </div> <!-- contenedor -->
    </header>

    <h1 class="fw-300 centrar-texto">Casa en Venta frente al bosque</h1>
    <img src="img/destacada.jpg" alt="Imagen anuncio">

    <main class="contenedor seccion contenido-centrado">
        <div class="resumen-propiedad">
            <p class="precio">$3,000,000</p>
            <ul class="iconos-caracteristicas">
                <li>
                    <img src="img/icono_wc.svg" alt="icono wc">
                    <p>3</p>
                </li>
                <li>
                    <img src="img/icono_estacionamiento.svg" alt="icono estacionamiento">
                    <p>3</p>
                </li>
                <li>
                    <img src="img/icono_dormitorio.svg" alt="icono dormitorio">
                    <p>4</p>
                </li>
            </ul>
        </div><!--resumen propiedad-->

        <p>Mauris dignissim, risus a mollis ullamcorper, nunc ante mattis mi, quis porttitor arcu felis ut felis. Etiam at arcu eget nisi aliquet accumsan. Proin tempor odio dignissim odio venenatis suscipit. In libero turpis, malesuada sit amet enim eu, finibus scelerisque ligula. Cras sollicitudin felis et urna luctus, quis dapibus quam interdum. Curabitur quis lectus ut odio dictum semper. Mauris volutpat sem a tellus aliquam aliquet in sed odio. Etiam ligula sem, bibendum ac hendrerit non, molestie eu felis. Curabitur lacus enim, efficitur luctus consectetur vitae, euismod et erat. Morbi pretium ullamcorper tristique. Pellentesque vehicula sapien in fermentum eleifend. Nulla metus augue, convallis sit amet nulla a, luctus posuere ipsum.</p>

        <p>ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris tortor, luctus elementum cursus vel, tincidunt id leo. Quisque pharetra metus lectus, et tristique metus aliquet tincidunt. Nulla nec risus eget ligula consectetur rutrum non ut tortor. Proin quis consequat ex. Nunc ut ornare urna. Nam mattis placerat ipsum, hendrerit pellentesque urna semper sed. Curabitur tristique, tellus non faucibus efficitur, massa nulla finibus nulla, eget ultrices lacus risus id turpis. Nunc est neque, accumsan et dui feugiat, consectetur egestas velit. Duis tincidunt magna dolor, eu sollicitudin nibh vehicula non.</p>
    </main>

    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a> <!-- taget="_blank" -->
                <a href="algoritmos.html">Algoritmos</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2023 &copy;</p>
        </div>
    </footer>
</body>