<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta meta="viewport" content="width=devide-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saguil AI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <header class="site-header inicio" >
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="../static/icon/logo.png" alt="Logotipo de Saguil">
                </a>
                
                <nav class="navegacion">
                    <a href="nosotros.html">Nosotros</a> <!-- taget="_blank" -->
                    <a href="algoritmos.html">Algoritmos</a>
                    <a href="contacto.html">Contacto</a>
                </nav>
            </div>

            <h1>Esta app está creada para utilizar y probar algunos algoritmos de Machine Learning (Aprendizaje Automático)</h1>
        </div> <!-- contenedor -->
    </header>
    
    <main class="contenedor">
        <h1 class="fw-300 centrar-texto">Conoce Sobre Nosotros</h1>

        <div class="contenido-nosotros">
            <div class="imagen">
                <img src="img/nosotros.jpg" alt="Imagen Sobre Nosotros">
            </div>
            <div class="texto-nosotros">
                <blockquote>25 años de experiencia</blockquote>

                <p><a href="https://www.flaticon.es/iconos-gratis/administracion" title="administración iconos">Administración iconos creados por Freepik - Flaticon</a></p>
                <p>Mauris ornare laoreet ante vel mattis. Pellentesque et diam non ipsum vulputate blandit vel sed mi. Praesent non viverra eros. Integer pretium neque eu semper tincidunt. Suspendisse quis ligula vel augue interdum fermentum vel non ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In at finibus leo, nec efficitur mi.</p>
            </div>
        </div>
    </main>

    <section class="contenedor section">
        <h2 class="fw-300 centrar-texto">Licencias</h2>

        <div class="iconos-nosotros">
            <a href="https://www.flaticon.es/iconos-gratis/agrupamiento" title="agrupamiento iconos">Agrupamiento iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/la-carretera" title="la-carretera iconos">La-carretera iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/organizar" title="organizar iconos">Organizar iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/estructura-de-datos" title="estructura de datos iconos">Estructura de datos iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/arbol-de-decision" title="árbol de decisión iconos">Árbol de decisión iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/diagrama" title="diagrama iconos">Diagrama iconos creados por Freepik - Flaticon</a>   
                <a href="https://www.flaticon.es/iconos-gratis/regresion-logistica" title="regresión logística iconos">Regresión logística iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/grafico" title="grafico iconos">Grafico iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/sociologia" title="sociología iconos">Sociología iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/analisis-de-los-datos" title="análisis de los datos iconos">Análisis de los datos iconos creados por Freepik - Flaticon</a>
                <a href="https://www.flaticon.es/iconos-gratis/arco" title="arco iconos">Arco iconos creados por Freepik - Flaticon</a>

            <div class="icono">
                <img src="img/icono2.svg" alt="Icono Mejor Precio">
                <h3>El mejor precio</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            </div>

            <div class="icono">
                <img src="img/icono3.svg" alt="Icono a Tiempo">
                <h3>A tiempo</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            </div>
        </div><!--iconos-nosotros-->
    </section>
    
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a> <!-- taget="_blank" -->
                <a href="algoritmos.html">Algoritmos</a>
                <a href="contacto.html">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2023 &copy;</p>
        </div>
    </footer>
    
    </body>