{% extends "base_generic.html" %}

{% block content %}

	<h1 class="fw-300 centrar-texto">Apriori</h1>

	<main class="contenedor seccion contenido-centrado">
    	<p>ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris tortor, luctus elementum cursus vel, tincidunt id leo. Quisque pharetra metus lectus, et tristique metus aliquet tincidunt. Nulla nec risus eget ligula consectetur rutrum non ut tortor. Proin quis consequat ex. Nunc ut ornare urna. Nam mattis placerat ipsum, hendrerit pellentesque urna semper sed. Curabitur tristique, tellus non faucibus efficitur, massa nulla finibus nulla, eget ultrices lacus risus id turpis. Nunc est neque, accumsan et dui feugiat, consectetur egestas velit. Duis tincidunt magna dolor, eu sollicitudin nibh vehicula non.</p>

		

		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="archivo" accept=".csv"/>
			<button type="submit">Enviar</button>
		</form>
		
    </main>
{% endblock %}