{% extends "base_generic.html" %}

{% block content %}
<section class="contenedor section">
    <h2 class="fw-300 centrar-texto">Algoritmos</h2>

    <div class="contenedor-algoritmos">
        <div class="algoritmo-bloque">
            {% load static %}
            <img src="{% static 'icon/apriori3.png' %}" alt="Icono apriori">
            <h3 class="encabezado">Reglas de asociación</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/distancia.png" alt="Icono distancias">
            <h3>Métricas de distancia</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/regresion.png" alt="Icono PCA">
            <h3>Componentes principales</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>    
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/clustering.png" alt="Icono clustering">
            <h3 class="encabezado">Clustering</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/lineal.png" alt="Icono pronostico Lineal">
            <h3>Pronóstico RML</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/logaritmo.png" alt="Icono Clasificacion Log">
            <h3>Clasificación Log</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>    
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/arboldedatos4.png" alt="Icono pronostico Arboles y Bosques">
            <h3>Pronóstico AB</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

        <div class="algoritmo-bloque">
            <img src="../static/icon/arboldedatos.png" alt="Icono clasificacion Arboles y Bosques">
            <h3>Clasificación AB</h3>
            <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
            <a href="{% url 'apriori' %}" class="boton boton-uno d-block">Usar algoritmo</a>
        </div>

    </div><!--contenedor-algoritmos-->
</section>
{% endblock %}
