<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta meta="viewport" content="width=devide-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saguil AI</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    
    <header class="site-header inicio" >
        <div class="contenedor contenido-header">
            <div class="barra">
                <a href="index.html">
                    <img src="../static/icon/logo.png" alt="Logotipo de Saguil">
                </a>
                
                <nav class="navegacion">
                    <a href="{% url 'index' %}">Inicio</a>
                    <a href="licencias.html">Atribuciones</a>
                </nav>
            </div>

            <h1>Esta app está creada para utilizar y probar algunos algoritmos de Machine Learning (Aprendizaje Automático)</h1>
        </div> <!-- contenedor -->
    </header>
    
    <section class="contenedor section">
        <h2 class="fw-300 centrar-texto">Algoritmos</h2>

        <div class="contenedor-algoritmos">
            <div class="algoritmo-bloque">
                <img src="../static/icon/apriori3.png" alt="Icono apriori">
                <h3 class="encabezado">Reglas de asociación</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/distancia.png" alt="Icono distancias">
                <h3>Métricas de distancia</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/regresion.png" alt="Icono PCA">
                <h3>Componentes principales</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>    
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/clustering.png" alt="Icono clustering">
                <h3 class="encabezado">Clustering</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/lineal.png" alt="Icono pronostico Lineal">
                <h3>Pronóstico RML</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/logaritmo.png" alt="Icono Clasificacion Log">
                <h3>Clasificación Log</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>    
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/arboldedatos4.png" alt="Icono pronostico Arboles y Bosques">
                <h3>Pronóstico AB</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

            <div class="algoritmo-bloque">
                <img src="../static/icon/arboldedatos.png" alt="Icono clasificacion Arboles y Bosques">
                <h3>Clasificación AB</h3>
                <p>Quasi quibusdam, quos desernut, recusandae iusto dolorem voluptatibus quaerat veritatis consectetur culpa sit dignissimos maiores iure id, magnam non coluptatum molestiae doloremque.</p>
                <a href="apriori.html" class="boton boton-uno d-block">Usar algoritmo</a>
            </div>

        </div><!--contenedor-algoritmos-->
    </section>
    
    </main>
    
    <footer class="site-footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="index.html">Inicio</a>
                <a href="licencias.html">Atribuciones</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2023 &copy;</p>
        </div>
    </footer>
    
</body>