{% extends "base_generic.html" %}

{% block content %}    
    <section class="contenedor section">
        <h2 class="fw-300 centrar-texto">Licencias</h2>

        <div class="iconos-nosotros">
            <a href="https://www.flaticon.es/iconos-gratis/administracion" title="administración iconos">Administración iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/agrupamiento" title="agrupamiento iconos">Agrupamiento iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/la-carretera" title="la-carretera iconos">La-carretera iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/organizar" title="organizar iconos">Organizar iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/estructura-de-datos" title="estructura de datos iconos">Estructura de datos iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/arbol-de-decision" title="árbol de decisión iconos">Árbol de decisión iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/diagrama" title="diagrama iconos">Diagrama iconos creados por Freepik - Flaticon</a>   
            <a href="https://www.flaticon.es/iconos-gratis/regresion-logistica" title="regresión logística iconos">Regresión logística iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/grafico" title="grafico iconos">Grafico iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/sociologia" title="sociología iconos">Sociología iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/analisis-de-los-datos" title="análisis de los datos iconos">Análisis de los datos iconos creados por Freepik - Flaticon</a>
            <a href="https://www.flaticon.es/iconos-gratis/arco" title="arco iconos">Arco iconos creados por Freepik - Flaticon</a>
        </div>
    </section>
{% endblock %}